.slide {
    width: 500px; 
    height: fit-content; 
    border: 5px solid white; 
    margin: 10px;
}

.slide .image {
    width: fit-content; 
    height: 200px;
    overflow: hidden;
}

.slide .summary {
    width: 100%; 
    height: fit-content;
    margin: auto;
}

.summary .title {
    text-align: center;
}

.summary .stats {
    margin: 10px;
}

.stats .low , .stats .medium, .stats .high{
    font-weight: bold;
    margin-left: 9%;
    display: inline;
}

.stats .low {
    color: green;
}

.stats .medium {
    color: yellow;
}

.stats .high {
    color: red;
}