.main {
    max-width:fit-content;
    position:relative;
    left: 250px;
    right: 0px
}

.heading, .heading p {
    margin-left: 25px;
}

.heading .heading {
    margin-left: 37.5px;
}

.weekRoutiene {
    display: table;
    width: 100%;
    border: 5px solid red;
}

.weekRoutiene ul{
    display: table-cell;
}