.main {
    position: relative;
    left: 250px;
}

.sideBar {
    width: 200px;
    height: 100%; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: green; 
}

h1.sideBarHeading {
    font-size: large;
}

h1 a, h2 a, h3 a {
    color: white;
}

/* see how to make the div center*/
.sideBarLink {
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: larger; 
    font-weight: bold;
}

ul, .sideBarLink a{
    color: yellow;
}

ul {
    list-style: "* ";
}