.main {
    margin-left: 250px;
}

.sideBar {
    width: 200px; 
    height: 100%; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: green; 
    overflow-x: hidden; 
}

h1.sideBarHeading {
    font-size: large;
}