.workPlan {
    border: 5px solid white;
}

.weekRoutiene {
    display: table;
    margin: 10px;
    margin-right: 0;
}

.weekRoutiene ul{
    display: table-cell;
    padding: 15px;
}

.weekRoutiene p {
    margin-top: 0;
}

.pull, .push, .legs {
    font-weight: bold;
}

.pull {
    color: green;
}

.push {
    color: yellow;
}

.legs {
    color: red;
}